// Core elements
body
  padding: 40px 20px
div
  position: relative
img, svg
  vertical-align: middle
  max-width: 100%

.github-corner
  position: absolute
  top: -40px
  right: -20px
  color: var(--color-bg)
